<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Casestudy1runfile">
    <classes>
      <class name="TestNgPackage.RegistrationETE"/>
    </classes>
  </test> <!-- Casestudy1runfile -->
</suite> <!-- Suite -->
